python-dotenv
pymupdf
python-docx
pymongo

paddleocr
paddlepaddle

openpyxl
pytz
xlrd
lark

pinecone
langchain-pinecone
redis

cohere
langchain-cohere

langchain
langchain-openai
langchain-community
langchain-cli