datasets==2.20.0
streamlit==1.36.0
langchain-core==0.2.27
langchain==0.2.12
langchain-community==0.2.11
python-dotenv==1.0.1
langchain_openai==0.1.17
neo4j==5.22.0
numpy
ragas==0.1.10
retry==0.9.2
lark==1.1.9
langchain-pinecone==0.1.1
psycopg2==2.9.9
langchain_postgres==0.0.9
langchain_elasticsearch==0.2.2
motor==3.5.1
fastapi==0.110.3
pymupdf==1.24.7
python-docx==1.1.2
paddleocr==2.8.1
paddlepaddle==2.6.1
openpyxl
pytz
xlrd==2.0.1
pinecone==4.0.0
redis==5.0.7
cohere==5.5.8
langchain-cohere==0.1.9
langchain-cli==0.0.26
scikit-learn
